@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Source+Code+Pro:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* Home design. */
.sidebar{
    position: absolute;
    background-color: rgb(233, 216, 227);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: auto;
    transition: transform 0.3s ease-in;
   
}
.sidebar nav{
    padding: 25px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 21px 0;
}
.sidebar nav li a{
     text-decoration: none;
     color: black;
}

.sidebarGo{
    transform: translate(-380px,0px);
    position: absolute;
   }
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
}
.ham{
    margin-top: 0px;
    margin-left: 0px;
}
.cross{
    margin-left: 330px;
    margin-top: 0px;
}
.main{
    width: 100%;
    height: 100%;
}
.container{ 
    display: flex;
    background-color: #e6dfcd;
}
.infoContainer{
    height: 100%;
    width: 100%;
    margin: 90px auto;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 3em;
}
.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fiea Sans' sans-serif;
}
.about{
    font-size: 2.5em;
}
.moreabout{
    font-size: 2em;
    margin-top: 23px;
    font-family: 'Fiea Sans' sans-serif;
}
.buttons{
    margin-top: 2.2em;
    font-size: 16px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn:hover{
    background-color: white;
     color : dodgerblue;
}
.devpic img{
    height: 38vh;
    border-radius: 30px;
    margin-right: 30px;
}
.hobbyAndInterest h1{
    padding-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.hobbylist{
    margin-left: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.personalDetail h1{
    padding-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.personalDetail h3{
    padding-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.personalDetail ul{
    margin-left: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

 /* Eduaction And Academic Achivements design. */
 .educationInfoContainer{
    height: 100%;
    width: 100%;
    margin: 90px auto;
    padding-left: 10px;
    justify-content: space-around;
 }
 .educationInfoContainer h1{
    text-align: center;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration:underline;
    margin-top: 1.5em;
 }
 .educationInfoContainer h3{
    padding-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
 }
 .educationInfoContainer ul{
    margin-left: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
 }

/* Skills and Certification design. */
.skillsInfoContainer{
    height: 100%;
    width: 100%;
    margin: 90px auto;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}
.technicalSkills h1{
    padding-top: 0em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    text-decoration: underline;
}
.technicalSkills ul li{
    margin-left: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.technicalSkills ul li img{ 
    margin-top: 1em; 
}
.interpersonalSkills h1{
    padding-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    text-decoration: underline;
}
.interpersonalSkills ul li{
    margin-left: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

/* Project and Training design. */
.projectInfoContainer{
    height: 100%;
    width: 100%;
    margin: 90px auto;
    padding-left: 10px;
    text-align: center;
    justify-content: space-around;
}
.projectInfoContainer h1{
    padding-top: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
.projectInfoContainer h2{
    padding-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;

}
.projectInfoContainer h4{
    padding-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.projectInfoContainer ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 5em;
}

/* ContactMe design. */
.contactform{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    padding: 0 34px;
    margin:  88px;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
}
 
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form  {
   margin: 0 40px;
}
.contactform form div input{
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}

/* JMedia */

@media (max-width: 500px){ 
    .buttons{
     font-size: 6px;
    }
    .devinfo{
     font-size: 10px;
    }
    .devpic{
     display: none;
    }
    .main,.contactform{
     margin: 50px 8px;
    }
   
  }